<style>
    .sty {
        background: #2f9339;
    }
</style>

<app-breadcrumb [breadcrumb]="breadcrumb"></app-breadcrumb>
<section class="checkout-section-2 section-b-space">

    <div class="card ">
        <div class="card-body">

            <div class="row mb-5">
                <div class="offset-4 col-sm-4">
                    <!-- Search Basic Style -->
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Enter Your Order Code"
                            [formControl]="term">
                        <app-button [type]="'button'" [class]="'btn sty'" [spinner]="false" (click)="searchOrder()"
                            [id]="'basic_search_btn'" style="
        background: #2f9339;
        ">
                            <i class="ri-search-line"></i>
                        </app-button>
                    </div>
                </div>
            </div>
            <!-- <div class="row mt-3">
                <div class="offset-3 col-sm-6">
                    <div class="total-box mt-0">
                        <div class="wallet-table mt-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead >
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Date</th>
                                            <th>Status Info</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td >{{order.id}}</td>
                                            <td>{{order.id}}</td>
                                            <td>{{order.delivery_status}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
                <app-no-data [class]="'no-data-added'" [image]="'assets/svg/empty-items.svg'" [text]="'No Orders Found'"
                    [description]="'No orders have been made yet'" *ngIf="!order.id">
                </app-no-data>
            </div> -->


            <div class="row mt-3">
                <div class="offset-3 col-sm-6">
                    <div class="total-box mt-0">
                        <div class="wallet-table mt-0">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Order ID</th>
                                            <th>Date</th>
                                            <th>Status Info</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr >
                                            <td>{{ order.id }}</td>
                                            <td>{{ order.created_at }}</td> 
                                            <td>{{ order.delivery_status }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <app-no-data [class]="'no-data-added'" [image]="'assets/svg/empty-items.svg'" [text]="'No Orders Found'"
                    [description]="'No orders have been made yet'" *ngIf="!order">
                </app-no-data>
            </div>
            

        </div>
    </div>

    <!-- <app-no-data [class]="'no-data-added'" [image]="'assets/svg/empty-items.svg'" [text]="'No Orders Found'"
        [description]="'No orders have been made yet'" *ngIf="!(order$ | async)?.data?.length">
    </app-no-data> -->

</section>
<address-modal #addressModal></address-modal>