.rightside-box.topheader .right-side-menu{
display: flex;
align-items: center;
justify-content: end;
}

.rightside-box{

    .right-side-menu{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: end;
        color: #fff;
       
        }
    
}

