<ul class="category-list custom-padding custom-height" *ngIf="categories.length">
    <li *ngFor="let category of categories">
        <div class="form-check ps-0 m-0 category-list-box">
            <input class="checkbox_animated" type="checkbox" 
                id="category-{{category.index}}"
                [value]="category.id"
                [checked]="checked(category.id!)"
                (change)="applyFilter($event)">
            <label class="form-check-label" for="category-{{category.index}}">
                <span class="name">{{ category.name }}</span>
            </label>
        </div>
    </li>
</ul>