.lang_topbar #open_dropdown_basic_btn{
    color: #fff;
    padding: 0px;
    display: flex;
    font-weight: 400;
}
.lang_dropdown .dropdown-item
{
    display: flex;
    gap: 10px;
    align-items: center;
    font-weight: 400;

}