<!-- My Account Basic Style -->
<div *ngIf="style == 'basic'">
    <div class="delivery-login-box">
        <div class="delivery-icon reltop7">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
            <!-- <i class="ri-user-line" *ngIf="!(isAuthenticated$ | async) else profile"></i> -->
            <ng-template #profile>
                <div class="user-box">
                    <img [src]="(user$ | async)?.profile_image?.original_url" class="img-fluid" alt="profile"
                        *ngIf="(user$ | async)?.profile_image && (user$ | async)?.profile_image?.original_url else placeholder">
                    <ng-template #placeholder>
                        <h3>{{ (user$ | async)?.name?.charAt(0)?.toString()?.toUpperCase() }}</h3>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <div class="delivery-detail">
            <!-- <h6>{{ 'hi' | translate }}, {{ ((isAuthenticated$ | async) ? (user$ | async)?.name : 'user' | translate) }}</h6> -->
            
            <h6 *ngIf="userData && userData?.id">{{ 'Hai' | translate }}, {{ userData?.name }}</h6>
            <h6 *ngIf="!userData && !userData?.id">{{ 'Hai' | translate }}, {{ "Guest User" }}</h6>
        </div>
    </div>
    <div class="onhover-div onhover-div-login">

        <ul class="user-box-name">
            <li class="product-box-contain" *ngIf="!userData && !userData?.id">
                <a [routerLink]="['/auth/login']">{{ 'LogIn' | translate }}</a>
            </li>
            <li class="product-box-contain"  *ngIf="!userData && !userData?.id" >
                <a [routerLink]="['/auth/register']">{{ 'Register' | translate }}</a>
            </li>

            <li class="product-box-contain" *ngIf="!userData && !userData?.id" >
                <a [routerLink]="['/auth/forgot-password']">{{ 'Forgot Password' | translate }}</a>
            </li>

            <li class="product-box-contain">
                <a [routerLink]="['/wishlist']">{{ 'Wishlist' | translate }}</a>
            </li>


            <li class="product-box-contain" *ngIf="userData && userData?.id" >
                <a [routerLink]="['checkout']"> {{ 'Checkout' | translate }}</a>
            </li>
            <li class="product-box-contain" *ngIf="userData && userData?.id" >
                <a [routerLink]="['/account/dashboard']"> {{ 'My Account' | translate }}</a>
            </li>
            
            <li class="product-box-contain" *ngIf="userData && userData?.id">
                <!-- <a href="javascript:void(0)" (click)="confirmationModal.openModal()"><i class="ri-logout-box-r-line me-2"></i> {{ 'log_out' | translate }}</a> -->
                <a href="javascript:void(0)" (click)="confirmationModal.openModal()">{{ 'Log Out' | translate }}</a>

            </li>
        </ul>
    </div>
</div>

<app-confirmation-modal
    #confirmationModal
    (confirmed)="logout()">
</app-confirmation-modal>
